<header>
	<div class="logoContainer">
		<img id="logo_img" src="images/logoPerfADom.png" alt="Logo du site">
		<div id="separation_logo"></div>
		<h1>PerfADom</h1>
	</div>
	<div>
		<a class="link" href="">S'inscrire</a>
	</div>
</header>
