{% extends "base.html.twig" %}
{% block title %}
	<title>PerfADom/Dashboard-Médecin</title>
{% endblock %}
{% block link %}
	<link rel="stylesheet" href="/css/styleDoctorDashboard.css">
{% endblock %}

{% block header %}
	{% include "layouts/header.html.twig" %}
{% endblock %}
{% block main %}
	<main>
		{% include "layouts/sidebar.html.twig" %}

		<div class="dashboardContainer">
			<div id="breadcrumb">
				<a href="/doctorDashboard">Dashboard</a>
				<span>> Détails
					{{patient.firstname}}
					{{patient.name}}</span>

			</div>

		</div>
	</main>
{% endblock %}
{% block footer %}
	{% include "layouts/footer.html.twig" %}
{% endblock %}
{% block script %}
	<script src="/js/dashboard.js"></script>
{% endblock %}
