/* css Dashboard */
a {
    text-decoration: none;
    color: rgba(27, 75, 101, 1);
}

#breadcrumb span {
    font-weight: bold;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    font-family: inria;
    min-height: calc(100vh - 97px);
    color: rgba(27, 75, 101, 1);
}

.line {
    height: 1px;
    width: 123px;
    background-color: rgba(95, 172, 211, 1);
}


.linkList {
    display: flex;
    flex-direction: column;
}

.linkList a {
    text-decoration: none;
}

.barnavContainer {
    position: fixed;
    font-family: inria;
    min-height: calc(100vh - 97px);
    border-right: 1px solid rgba(95, 172, 211, 1);
    width: 250px;
    background-color: rgba(202, 235, 255, 1);
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linklistContainer {
    margin-bottom: 100px;
}

#top_barnav {
    margin-top: 50px;

}

.margin {
    margin-top: 1em;
}

.bold {
    font-weight: bold;
}

.regular {
    font-weight: 400;
}

.title {
    font-size: 1.2em;
}

.dashboardContainer {
    background-image: url("/images/fondDashboard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 97px);
    margin-left: 267px;
    display: flex;
    flex-direction: column;
}

#breadcrumb {
    padding: 10px 0 0 10px;
}

.search {
    cursor: pointer;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 100px;
}

.patientList {
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: 10px;

}

.info {
    margin-right: auto;
    margin-left: auto;
    margin-top: 125px;
    text-align: center;
    font-size: 2.5em;
    background-color: rgba(202, 235, 255, 1);
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}

.patientCard {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 62%;
    height: 100px;
    background-color: rgba(202, 235, 255, 1);
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    margin-bottom: 50px;

}

.namePatient {
    text-align: center;

    flex: 1;
    font-weight: bold;
}

.namePatient p {
    margin: 0
}

.number {
    margin-bottom: 30px;
}

.birthday {
    text-align: center;
    flex: 1;
}

.detailContainer {
    text-align: center;
    flex: 1;
}

#details {
    text-decoration: none;
    background-color: rgba(95, 172, 211, 1);
    color: rgba(243, 242, 255, 1);
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

.deleteButton {
    position: absolute;
    right: -1%;
    top: -5%;
}

.error {
    color: red;
    margin: 0;
    text-align: center;
}


/* css bouton add patient */

.button {
    position: relative;
    width: 143px;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid rgba(202, 235, 255, 1);
    background-color: rgba(202, 235, 255, 1);
    border-radius: 10px;
    text-decoration: none;
}


.button__icon {
    border-radius: 0 10px 10px 0;
}

.button,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(20px);
    color: rgba(27, 75, 101, 1);
    font-weight: 500;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 35px;
    background-color: rgba(95, 172, 211, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 32px;
    stroke: #fff;
}

.button:hover {
    background: rgba(95, 172, 211, 1);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 143px;
    border-radius: 10px;
    transform: translateX(0);
}

.button:active .button__icon {
    background-color: rgba(95, 172, 211, 1);
}

.button:active {
    border: 1px solid rgba(95, 172, 211, 1);
}





/* css add patient */

#breadcrumb a {
    text-decoration: none;
    color: rgba(27, 75, 101, 1);
}

#add_patient {
    margin: auto;
    overflow-y: scroll;
    scrollbar-width: none;
}



#form_add_patient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    background-color: rgba(202, 235, 255, 1);
    border-radius: 10px;
    width: 500px;
    height: 550px;

}

.informationSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.doubleInput {
    display: flex;
    gap: 55px
}

#create_button {
    cursor: pointer;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(95, 172, 211, 1);
    color: rgba(243, 242, 255, 1);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}

.sectionTitle {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

h2 {
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 400;

}

#add_patient p {
    margin: 0;
}


.input {
    border-radius: 10px;
    border: 1px solid rgba(95, 172, 211, 1);
    text-align: center;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    height: 20px;
    background-color: rgba(95, 172, 211, 0.2);
    color: rgba(142, 175, 193, 1);
}

.input:focus {
    outline: none;
}

.select {
    border-radius: 10px;
    border: 1px solid rgba(95, 172, 211, 1);
    text-align: center;
    color: rgba(142, 175, 193, 1);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    height: 24px;
    background-color: rgba(95, 172, 211, 0.2);
    width: 408px;
}

.select:focus {
    outline: none;
}

::-webkit-input-placeholder {
    text-align: center;
    color: rgba(142, 175, 193, 1)
}

.createButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.inputDate {
    width: 172px;
}

input[type="date"] {
    color: rgba(142, 175, 193, 1)
}

.inputAlone {
    width: 402px;
}


/* css detailsPatient */

.detailPatient {
    margin: auto;
    background-color: rgba(202, 235, 255, 1);
    width: 60%;
    height: 80%;
    border-radius: 10px;
}


.grandLine {
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 85%;
    background-color: rgba(95, 172, 211, 1);
}

.detailPatient {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.titleDetail {
    text-align: center;
}

.informationContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addPatient {
    margin-left: auto;
    margin-right: auto;
}

.treatmentList p {
    margin-left: 70px
}

.treatmentList {
    overflow-y: scroll;
    scrollbar-width: none;
}

#add_patient {
    background-color: rgba(95, 172, 211, 0.5);
}

.treatmentCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(95, 172, 211) ;
    border-radius: 10px;
    width:90% ;
    margin: auto;
    color : rgb(243, 242, 255);
    position: relative;
}
.deleteTreatmentButton {
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

#detailsTreatment {
    text-decoration: none;
    background-color: rgb(202, 235, 255);
    color: rgb(27, 75, 101) ;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

.updateTreatmentButton{
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: -10px;
    cursor: pointer;
}
#treatmentName{
    margin-left: 20px;
}

/* css update patient */
.inputRadio {
    display: flex;
    align-items: center;
    gap: 10px;
}

#updatePresta {
    width: 172px;
}

.secondInformation {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.updatePatient {
    width: 45%;
    height: 500px;
}

.validateButton {
    border: none;
    background: transparent;
    cursor: pointer;
}

/* css add treatment */

#add_treatment {
    margin: auto;
    overflow-y: scroll;
    scrollbar-width: none;
}

#form_add_treatment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 20px;
    background-color: rgba(202, 235, 255, 1);
    border-radius: 10px;
    width: 900px;
    height: 650px;
}

#add_medication {
    background-color: rgba(95, 172, 211, 0.5);

}
#medicationList{
    color: rgba(27, 75, 101, 1)
}

.inputMedicationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

#medContainer {
    max-width: 650px;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    align-items: center;

}

.medicationCard {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inputQuantityAmpoule {
    width: 40px;
    color: rgba(27, 75, 101, 1);
    font-weight: bold;
}

#inputPeriodQuantity,
#inputPeriodDuration {
    width: 70px;
    color: rgba(27, 75, 101, 1)
}

.informationCard {
    background-color: rgb(95, 172, 211);
    border-radius: 10px;
    width: 200px;
    min-height: 225px;
    text-align: center;
    position: relative;
}

.delete_Button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.buttonMedicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cursor {
    cursor: pointer;
}

/* css modal update medic */

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    justify-content: center;
    align-items: center; 
}

.formUpdateMed {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.modal-content {
    background-color: rgb(202, 235, 255);
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(202, 235, 255);
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    right: 5px;
    top: -5px;
    color: darkred;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal input {
    color: rgba(27, 75, 101, 1);
    width: 160px;
}

.modal select {
    color: rgba(27, 75, 101, 1);
    width: 160px;
}

.medButton{
    background-color: rgb(95, 172, 211);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

/* css modale add medic */

#formAddMed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}