@font-face {
    font-family: inrias;
    src: url(../fonts/InriaSerif.ttf);
}

@font-face {
    font-family: inria;
    src: url(../fonts/InriaSans.ttf);
}

body {
    font-family: inria;
    margin: 0;
}


/* css header */
.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#logo_img {
    height: 40px;
    width: 30px;
}

#separation_logo {
    width: 1px;
    height: 50px;
    background-color: rgba(27, 75, 101, 1);
}

h1 {
    font-family: inrias;
    color: rgba(98, 185, 203, 1);
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.menuContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(95, 172, 211, 1);
    padding: 0 80px 0 20px;
}

.link {
    color: rgba(27, 75, 101, 1);
    text-decoration: none;
    cursor: pointer;
}
#home {
    margin-right: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border : 1px solid rgba(95, 172, 211, 1);
    border-radius: 10px;
    max-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    color: rgba(27, 75, 101, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: rgba(95, 172, 211, 1);
    color: rgba(243, 242, 255, 1);
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownTop {
    border-radius: 10px 10px 0 0;
}

.dropdownBottom {
    border-radius: 0 0 10px 10px ;
}

.search {
    border : none;
    background-color: transparent;
}
::-webkit-input-placeholder {
    text-align: center;
    color: rgba(142, 175, 193, 1)
}

.input_search {
   padding : 0 5px 0 5px;
    border-radius: 10px;
    border: 1px solid rgba(95, 172, 211, 1);
    text-align: center;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
    height: 30px;
    width:220px;
    background-color: rgba(95, 172, 211, 0.2);
}

.input_search:focus{
    outline: none;
}

.form_search {
    
    display: flex;
    justify-content: center;
    align-items: center;

}

