{% extends "base.html.twig" %}
{% block link %}
	<link rel="stylesheet" href="/css/styleHomePage.css">
{% endblock %}

{% block header %}
	{% include "layouts/header.html.twig" %}
{% endblock %}
{% block main %}
	<main>
		<section id="presentation">
			<h2 id="title_homepage">Bienvenue sur PerfADom</h2>
			<p>L'application qui simplifie
				<span class="newLine">
					la gestion des traitements par perfusion à domicile.</span>
				<span class="line">
					Pour les
					<span id="doctor" class="highLighted">médecins</span>:
					<span class="newLine">prescrire en toute facilité.
					</span>
				</span>
				<span class="line">
					Pour les
					<span id="patient" class="highLighted">patients</span>
					:<span class="newLine">
						suivre leur traitement en toute autonomie.
					</span>
				</span>
				Pour les
				<span id="presta" class="highLighted">prestataires de soins</span>
				:
				<span class="newLine">accéder rapidement aux ordonnances de leurs patients</p>
			</p>
		</span>
	</section>
	<div id="connexion_container">
		<img id="ordonnance" src="images/imageHomepage.png" alt="Ordonnance">
		<section id="connexion_section">
			<div id="title_connexion">
				<h2>Connexion à l’espace client</h2>
				<p>Je suis...</p>
			</div>
			<div id="bouton_connexion">
				<a class="link bouton" href="/doctorConnexion">Médecin</a>
				<a class="link bouton" href="/patientConnexion">Patient</a>
				<a class="link bouton" href="/prestataireConnexion">Prestataire</a>
			</div>
		</section>
	</div>
</main>{% endblock %}{% block footer %}
{% include "layouts/footer.html.twig" %}{% endblock %}
